body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins',serif;

}
#name{
    font-family: 'Poppins',serif;
    font-size: 2rem;
    text-shadow: 4px 4px 4px #aaa;
    transform: scale(1);
}

.header{
    background-color: #60b4df;
}
.header a{
    color: rgb(248, 245, 245);
}

.login , .logout:hover{
    background-color: white;
    border-radius: 2rem;
    border: 2px solid white;
    padding: 0.1rem 1.0rem;
    color: #60b4df;
    text-transform: uppercase;
}

.logout , .login:hover{
    background-color: transparent;
    color: black;
    border-radius: 2rem;
    border: 2px solid white;
    padding: 0.1rem 1.0rem;
    text-transform: uppercase;

}