{% extends 'project/base.html'%}
{% load bootstrap4 %} 
{% load static %}
{% block content%}
<div class="container mt-3 mb-5">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-0"></div>
        <div class="col-lg-8 col-md-8">
            <div class="alert alert-success">
                Password successfully reset now you can login.
                <p><a href="{% url 'login' %}">Login In Here</a></p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-0"></div>
    </div>
</div>
{% endblock%}