{%extends "project/base.html"%}
{% load bootstrap4%}
{% block content %}
<div class="container">
  <div class="row">
      <div class="co-lg-2 col-md-2"></div>
      <div class="co-lg-8 col-md-8 mb-3">
          <legend class="text-center">How to use AwwardMe Api</legend>
          <div>
              <div>For better user experience and for developers who would like to use our AwwardMe data, we
                  developed and <span style="font-weight: bolder;">API</span> who help you out. To use our api we recommend
                  to use it on <a href="https://www.postman.com/downloads/">Postman</a> which s much easier to send the HTTP request 
                  i.e GET,POST,PUT,DELETE...
              </div><br>
              <div>
                Before you start using our api endpoints you need an <span style="font-weight: bolder;">Token Autheniticaton</span> only for registered users. On Postman 
                choose the POST http request method on the url place this url <span class="text-white bg-dark">www.awwardme.heroku.com/api-auth-token/</span> on the body
                on the postman pass you USERNAME and PASSWORD as the key and value. On the request results at the bottom on postman
                if successful you will get your token.               
              </div><br>
              <div>
                After token received you can now access <span style="font-weight: bolder;">user</span> and <span style="font-weight: bolder;">project</span> data using the following 
                links <span class="text-white bg-dark">www.awwardme.heroku.com/api/users/</span> and <span class="text-white bg-dark">www.awwardme.heroku.com/api/project/</span> respectively.
              </div><br>
              <div style="font-style: italic;">
                  Thank You. <br>
                  Regards Denis Mbugua (developer)
              </div>
          </div>
      </div>
      <div class="co-lg-2 col-md-2"></div>
  </div>
</div>

{% endblock %}
